<!doctype html>
<html lang="en">
    <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="container">
            <!-- <h2 class="text-center"><%= title %></h2> -->
            <h2 class="text-center">Toko Heaven Light</h2>
            <a href="/add" class="btn btn-sm btn-secondary">Add User</a><br>
            <!-- awal -->
            <div class="card mt-3">
            <div class="card-header bg-info text-white">
            Data Reseller
            </div>
            <div class="card-body">
            <table class="table table-bordered">
              <thead>
                <tr>
                    <th>Nama</th>
                    <th>Email</th>
                    <th>No Hp</th>
                    <th>Alamat</th>
                    <th>Id_admin</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                    <% reseller.forEach(function(seller){ %>
                        <tr>
                            <td><%= seller.username %></td>
                            <td><%= seller.email %></td>
                            <td><%= seller.no_hp %></td>
                            <td><%= seller.alamat %></td>
                            <td><%= seller.id_admin %></td>
                            <td>
                                <a href="edit/<%= seller.id %>" class="btn btn-sm btn-light">Edit</a>
                                <a href="delete/<%= seller.id %>" class="btn btn-sm btn-light">Delete</a>
                            </td>
                        </tr>
                    <% }); %>
                </tbody>
            </table>
        </div>
        </div>
        </div>
        </body>
</html>